:root{
  --first-color:white;
  --second-color:#d6d6d6;
  --third-color:#eaeaea;
  --fourth-color:#8edafc;
  --fifth-color:#b1b1b1;
  --sixth-color:#4f7485;
  --seventh-color:#d5f9ba;
  --eight-color:#fafafa;
  --ninth-color:#f5f5f5; 
  --tenth-color:#bbbec0;
  --eleventh-color:#f3eeea;
  --twelth-color:#e7e7e7;
  --thirteenth-color:#b6b9bb;
  --fourteenth-color:#6b7376 ;
  --fifteenth-color:#b8bbbd;
  /* darkmode */
  --dark-topbar:#202c33;
  --dark-bcg:#101b21;
  --dark-text-icon:#8696a0;
  --dark-border:#212b2f;
  --dark-notification:#172229;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Lato", sans-serif;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #009688 0 ,
    #009688 15%,
    #dadbd4 15%,
    #dadbd4 100%);
  overflow: hidden;
}


/* UTILITY */

/* .debug{
  border: 2px solid red;
} */

.d_flex{
  display: flex;
}

.f_column{
  flex-direction: column;
}

.f_wrap{
  flex-wrap: wrap;
}

.f_end{
  justify-content: flex-end;
}

.al_center{
  align-items: center;
}

.al_start{
  align-items: flex-start;
}

.space_between{
  justify-content: space-between;
}

.pos_rel{
  position: relative;
}

.container{
  width: 85%;
  max-width:1200px;
  height: 90vh;
  margin: 20px auto;
}

.text_chat{
  width: 60%;
  max-width: 430px;
  border-radius: 10px;
  padding: 5px 15px 0 15px;
  font-size: .8rem;
}

.received{
  background-color:var(--first-color) ;
}

.sent{
  background-color: var(--seventh-color);
}

i{
  font-size: 1.3rem;
  padding-right: 20px;
  cursor: pointer;
}

ul li{
  list-style: none;
  padding: 10px;
}

ul li:hover{
  background-color:var(--eight-color);
}

.box{
  width: 150px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: none;
}

.icon:hover .box,
.icon:focus .box
{
  display: block;
  z-index: 1;
}

.box_shadow{
  background-color: var(--first-color);
  border-radius: 2px;
  box-shadow:0 0 5px var(--fifth-color);
}

.brd_radius{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px;
}

.scroll{
  overflow-x: hidden; 
  overflow-y: scroll;
}


/* posizione testi */
.text_c{
  text-align: center;
}

.text_end{
  text-align: end;
}


/* Distanze */
.p_xs{
  padding: 8px;
}

.pb_xs{
  padding-bottom: 5px;
}

.pb_s{
  padding-bottom: 20px;
}

.pt_s{
  padding-top: 15px;
}

.pr_s{
  padding-right: 20px;
}

.padd_xl{
  padding: 50px 90px;
}

.mb_xs{
  margin-bottom: 15px;
}

/* MAIN  */

main .container .row{
  height: 100%;
}

main .container .col.left{
  max-width: 380px;
  height: 100%;
}

main .container .col.right{
  flex-grow: 1;
  height: 100%;
}

.col.left .top,
.col.right .top{
  height: 70px;
  background-color: var(--third-color);
  color: var(--fifth-color);
}



/* colonna sinistra */

/* Top  */
.col.left .top{
  border-right: 2px solid var(--second-color) ;
}

.col.left .top .img{
  width: 40%;
}

.col.left .top nav{
  width: 60%;
}

/* Notification  */
.col.left .notification{
  height: 80px;
  background-color: var(--fourth-color);
}

.col.left .notification i{
  color: var(--fourth-color);
  background-color: var(--first-color);
  border-radius: 50%;
  padding: 13px 12px;
  margin: 0 15px;
}

.col.left .notification p:first-child{
  font-size: 0.9rem;
  font-weight: bold;
}

.col.left .notification p:last-child{
  font-size: .9rem;
  color: var(--sixth-color);
  text-decoration: underline;
}

/* Search  */
.col.left .search{
  height: 50px;
  background-color: var(--eight-color);
}

.col.left .search .row{
  border: 2px solid var(--ninth-color);
  color: var(--eleventh-color);
  background-color: var(--first-color);
}

.col.left .search i{
  color: var(--tenth-color);
  padding: 10px;
  font-size: .8rem;
}

.col.left .search input{
  border: none;
  width: 80%;
  height: 90%;
  font-size: 0.8rem;
}

.col.left .search input:focus-visible{
  outline: none;
}

/* Chat  */
.col.left .chat{
  height: calc(100% - 200px);
  background-color: var(--first-color);
}

.col.left .chat .col{
  height: 80px;
  width: 100%;
  border:2px solid var(--twelth-color) ;
  cursor: pointer;
}
.col.left .chat .col:hover{
  background-color: var(--second-color);
  border: none;
}

.col.left .chat .col p,
.col.left .chat .col .hour{
  color: var(--thirteenth-color) ;
  font-size: .7rem;
}

.col.left .chat .col .hour{
  width: 25%;
  height: 60%;
  padding-right: 20px;
}


/* colonna destra */

.col.right .top h4{
  color: black;
}

.col.right .top p{
  font-size: .9rem;
  color:var(--fourteenth-color)  ;
}

.col.right .center{
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  background-size: contain;
}

.col.right .center i{
  color:var(--fifteenth-color)  ;
  font-size: .7rem;
  padding: 0;
}

.col.right .center .time{
  color: var(--fifteenth-color) ;
  font-size: .5rem;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.col.right .bottom{
  height: 70px;
  background-color: var(--eleventh-color);
  color: var(--fifth-color);
}

.col.right .bottom .icon{
  width: 5%;
  margin: 0 15px 0 30px;
  color:var(--fourteenth-color) ;
}

.col.right .bottom .text{
  width: 90%;
}

.col.right .bottom input{
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  padding: 0 20px;
}


/* *******************************************
MEDIA QUERY
******************************************* */

/* Risoluzione tablet da 992 a 542 */
@media screen and (max-width:992px){
  .dis_none{
    display: none;
  }
  
  .fix-center{
    justify-content: center;
    align-items: center;
  }
  
  .padd_xl_min{
    padding: 50px 40px ;
  }
  
  .container{
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  
  main .container .col.left{
    width: 100px;
  }
  
  
  main .col.left .top .img{
    width: 100%;
  }
  
  main .col.left .chat{
    height: calc(100% - 70px);
  }
}




/* Risoluzione mobile <542 */
@media screen and (max-width:542px){
  .none{
    display: none;
  }
  
  .col.right .bottom .text{
    width: 100%;
    margin: 10px 20px;
  }
  
}



/* **************************
        DARK MODE 
************************** */

/* body.dark{
  background: black;
  color: var(--dark-text-icon);
}

.col.left .top.dark,
.col.right .top.dark,
.col.right .bottom.dark{
  background-color: var(--dark-topbar);
}

.col.left .top.dark{
  border-right: 2px solid var(--dark-border) ;
}

.col.left .notification.dark,
.col.left .search.dark{
  background-color: var(--dark-notification);
  border-bottom: 1px solid grey;
}

.col.left .notification.dark i{
  color: var(--dark-text-icon);
}

.col.left .chat.dark{
  background-color: var(--dark-bcg);
  border: var(--dark-border);
}

.col.left .chat.dark .col{
  border:1px solid var(--dark-border);
}

.col.right .center.dark{
  filter: invert(100%);
  color: red;
}  */
